.calendar {
  min-width: 250px;
  height: 260px;
  transform-origin: 100% 0;
  transition: transform .2s var(--transition-primary);
}
.months-panel {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 auto;
    gap: 5px;
    margin-bottom: 10px;
  }
  &__body {
    flex: 1 1 auto;
  }
  &__year {
    color: var(--color-text);
    cursor: pointer;
  }
  &__cells {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
  }
}

.month-cell {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 5px;
  color: var(--color-text);
  transition: background-color .2s var(--transition-primary), color .2s var(--transition-primary);
  border-radius: 8px;

  &:hover {
    background-color: var(--color-neutral--dark);
  }

  &_selected {
    background-color: var(--color-primary) !important;
    color: var(--color-text-inverse) !important;
  }
}

.button {
  &__icon {
    width: 20px;
    aspect-ratio: 1;
    color: var(--color-primary);
    transition: color .2s var(--transition-primary);
  }

  &:hover .button__icon {
    color: var(--color-primary);
  }
}

.years-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__body {
    flex: 1 1 auto;
    height: 100%;
  }
  &__cells {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    height: 100%;
    overflow: auto;
  }
}

.year-cell {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 5px;
  color: var(--color-text);
  transition: background-color .2s var(--transition-primary), color .2s var(--transition-primary);
  border-radius: 8px;

  &:hover {
    background-color: var(--color-neutral--dark);
  }

  &_selected {
    background-color: var(--color-primary) !important;
    color: var(--color-text-inverse) !important;
  }
}