.editor {
  display: flex;
  height: 100%;
  background-color: var(--color-neutral-primary--dark);

  &__form {
    flex: 1 1 auto;
    max-width: 50%;
  }

  &__preview {
    position: sticky;
    top: 0;
    flex: 1 1 auto;
    max-width: 50%;
    height: 100vh;
    padding: 20px;
  }
}