.editor {
  display: flex;
  height: 100%;
  background-color: var(--color-neutral-primary--dark);

  &__content {
    flex: 1 1 auto;
    max-width: 50%;
  }
  &__sections {
    margin-top: var(--section-gap);
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
  }
  &__preview {
    position: sticky;
    top: 0;
    flex: 1 1 auto;
    max-width: 50%;
    height: 100vh;
    padding: 20px;
  }
}