.card {
  width: 100%;
  display: flex;
  gap: 25px;
  background-color: var(--color-secondary--lighten);
  padding: 25px;
  border-radius: 10px;

  &__preview-wrapper {
    flex: 0 1 400px;
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  &__info-wrapper {
    flex: 1 1 auto;
  }
}

.preview {
  cursor: pointer;
  display: block;
  aspect-ratio: 3/4;
  backface-visibility: hidden;
  &_transition {
    transition: transform .5s var(--transition-power--in-out);
  }
}

.card-info {
  &__header {
    padding-bottom: 15px;
  }

  &__title {
    font-size: 22px !important;
    margin-bottom: 3px;
  }

  &__time {
    font-size: 14px;
    display: inline-block;
    color: var(--color-secondary--light);
  }

  &__body {
    padding: 15px 0;
    border-bottom: 1px solid rgb(214, 218, 227);
    border-top: 1px solid rgb(214, 218, 227);
  }

  &__buttons-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__footer {
    padding-top: 15px;
  }
}

.action-button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: var(--color-neutral-contrast);
  transition: color .2s var(--transition-power--in-out);

  &__icon {
    flex: 0 0 23px;
    fill: var(--color-secondary);
    transition: fill .2s var(--transition-power--in-out);

    svg {
      width: 23px;
      aspect-ratio: 1;
    }
  }
  &__title {

  }

  &_edit {
    svg {
      width: 18px;
    }
  }

  &:hover {
    color: var(--color-primary);

    .action-button__icon {
      fill: var(--color-primary);
    }
  }
}
