.cv-builder {
  &__container {
    display: flex;

  }
  &__info {
    flex: 0 0 45%;
    overflow: hidden;
    padding: 40px;
  }
  &__title-wrapper {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }
}
