.providers {

}

.line-block {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5px;

	&__line {
		flex: 1 1 auto;
		height: 1px;
		background-color: rgb(160, 160, 160);
	}

	&__text {
		flex: 0 0 auto;
		color: gray;
	}
}

.list {
	margin-top: 10px;
	display: flex;
	gap: 30px;
}

.provider-wrapper {
	width: 100%;
}

.provider {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	border: 1px solid rgb(160, 160, 160);
	background-color: white;
	padding: 10px 12px;
	border-radius: 10px;
	transition: background-color .2s var(--transition-primary);

	&__icon {
		width: 20px;
	}

	&__label {
		cursor: pointer;
		font-size: 15px;
	}

	&:hover {
		background-color: rgb(245, 245, 245);
	}
}