.line-block {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5px;

	&__line {
		flex: 1 1 auto;
		height: 1px;
		background-color: var(--color-neutral--ultra-darken);
	}

	&__text {
		flex: 0 0 auto;
		color: var(--color-text--lighten);
	}
}

.list {
	margin-top: 10px;
	display: flex;
	gap: 30px;
}

.provider-wrapper {
	width: 100%;
}

.provider {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	color: var(--color-text);
	border: 1px solid var(--color-neutral--ultra-darken);
	background-color: var(--color-neutral);
	padding: 10px 12px;
	border-radius: 10px;
	transition: background-color .2s var(--transition-primary), scale .2s var(--transition-primary);

	&__icon {
		fill: var(--color-text);
		width: 20px;
	}

	&__label {
		cursor: pointer;
		font-size: 15px;
	}

	@include hover-supported {
		background-color: var(--color-neutral--soft-dark);
	}

	&:active:not(:disabled) {
    @include pressed;
  }
}