.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  color: var(--color-primary);
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .5s var(--transition-power--in-out);
  &__icon-wrapper {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 24px;
    aspect-ratio: 1;
  }
  &__title-wrapper {
    text-align: center;
  }
  &__title {
    font-size: 14px;
    font-weight: 400;
  }
  &:hover {
    background-color: var(--color-primary--light);
  }
}