.container {
	display: flex;
	gap: 20px;
	align-items: start;
}

.avatar {
	flex-grow: 1;
	max-width: 180px;
	height: auto !important;
	aspect-ratio: 1;
	font-size: 32px;
}

.controls {
	display: flex;
	gap: 10px;
}

.file-input {
	display: none;
}

@include max($mobile-l) {
	.container {
		flex-direction: column;
		gap: 10px;
	}

	.avatar {
		width: 100%;
	}
}
