.container {
	display: flex;
	gap: 20px;
	padding: 0 !important;
}

.sidebar {
	flex-shrink: 0;
}

.content {
	width: 100%;
}

.page {
	padding: var(--container-padding) 0;
}

@include max($tablet-l) {
	.sidebar {
		&[data-performance="static"] {
			display: none;
		}
	}

	.page {
		padding: 0;
		padding-bottom: var(--container-padding);
	}
}
