.container {
	display: flex;
	gap: 20px;
	padding: 0 !important;
}

.sidebar {
	flex-shrink: 0;
}

.content {
	width: 100%;
}

@include max($tablet-l) {
	.sidebar {
		&[data-performance="static"] {
			display: none;
		}
	}
}
