.overlay {
  position: fixed;
	z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.5);

	&_closable {
		pointer-events: all;
		cursor: pointer;
	}
}
