.spinner {
  --color: var(--color-secondary--light);
  --diameter: 24px;

  width: var(--diameter);
  height: var(--diameter);
  border: 2px solid var(--color);
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}