.section {
  &__header {
    margin-bottom: 15px;
  }
  &__description {
    margin-top: 5px;
    font-size: 14px;
    color: var(--color-secondary--light);
  }
  &__button-add-wrapper {
    margin-top: 10px;
  }
}
