.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__necessary-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 1000px;
  }
}