.dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .2s var(--transition-primary);
  overflow: hidden;
  margin-top: 3px;

  &__container {
    width: 100%;
    min-height: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &_open {
    grid-template-rows: 1fr;
  }
}
