.drawer {
	position: fixed;
	bottom: 0;
	z-index: 20;
	
	width: 100%;
	background-color: var(--color-neutral);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	pointer-events: all;
	padding: 15px;
}

.trigger {
	cursor: grab;

	&:active {
		cursor: grabbing;
	}
}

.ui-trigger {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;

	&__button {
		width: 80px;
		height: 4px;
		border-radius: 10px;
		background-color: var(--color-primary);
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}

.title {
	color: var(--color-text);
	font-size: 18px;
	font-weight: 600;
}

.close-button {
	margin-left: auto;
}
