.button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-neutral-contrast--light);
  font-size: 14px;
  transition: color .2s var(--transition-primary);
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }
}

.icon {
  width: 14px;
  height: 14px;
}