.layout {
	display: grid;
	grid-template-columns: 4fr 8fr;
	gap: 20px;
	min-height: 100vh;
	padding: 20px;

	background-color: var(--color-neutral);
}

.page {
	background-color: var(--color-neutral--dark);
	height: 100%;
	min-width: 420px;
	padding: 30px;
	border-radius: 20px;
}
