.layout {
	display: grid;
	grid-template-columns: 4fr 8fr;
	gap: 20px;
	min-height: 100vh;
	padding: 20px;

	background-color: var(--color-neutral);
}

.page {
	background-color: var(--color-neutral--dark);
	width: 100%;
	height: 100%;
	min-width: 420px;
	padding: 30px;
	border-radius: 20px;
}

.content {
	width: 100%;
}

@include respond-max(tablet-l) {
	.layout {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.page, .content {
		max-width: 650px;
		min-width: auto;
	}
}

@include respond-max(tablet-s) {
	.layout {
		padding: 0;
		gap: clamp(0.625rem, -0.417rem + 4.44vw, 1.25rem);
		background-color: var(--color-neutral--dark);
	}

	.page {
		border-radius: 0;
		padding: clamp(0.625rem, -0.417rem + 4.44vw, 1.25rem)
	}
}
