.subsection {
  display: flex;
  gap: 30px;
}

.date {
  flex: 1 1 30%;
}

.content {
  flex: 1 1 70%;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 15px;
}
.title {
  font-weight: 400;
}
.meta {
  color: var(--color-contrast--light);
  font-size: 10px;
  margin-left: auto;
}
