.input {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5px;

	border: 1px solid var(--color-neutral--ultra-darken);
	background-color: var(--color-neutral);
	padding: 10px 12px;
	border-radius: 10px;
}

.item {
	width: 100%;
	font-size: 14px;

	&::placeholder {
		color: var(--color-text--lighten);
	}
}

.button {
	display: flex;
	&__icon {
		width: 15px;
		height: 15px;
	}
}