.input {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5px;

	border: 1px solid var(--color-neutral--ultra-darken);
	background-color: var(--color-neutral);
	padding: 10px 12px;
	border-radius: 10px;
}

.item {
	width: 100%;
	font-size: 14px;

	&::placeholder {
		color: var(--color-text--lighten);
	}

	&:-webkit-autofill {
	  -webkit-box-shadow: 0 0 0 1000px var(--color-neutral) inset !important;
	  -webkit-text-fill-color: inherit !important;
	}

}

.button {
	display: flex;

	&__icon {
		stroke: var(--color-neutral--ultra-darken);
		width: 15px;
		height: 15px;
	}
}