.button {
  display: inline-flex;
  gap: 2.5px;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid var(--color-tertiary);
  cursor: pointer;

  &:hover .rect {
    width: 2px;
  }

  &_open:hover .rect {
    width: 8px;
  }

  &_open .rect {
    width: 2px;
  }
  &_open .arrow {
    rotate: 180deg;
  }
}

.rect {
  display: block;
  width: 8px;
  border-radius: 2px;
  height: 100%;
  background-color: var(--color-tertiary);
  transition: width .2s var(--transition-primary);
}

.arrow {
  font-size: 8px;
  color: var(--color-tertiary);
}
