.line {
  position: relative;
  display: block;
  width: 100%;
  height: 1.5px;
}

.sub-line {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: scale(0);
  height: 100%;

  &:first-child {
    background-color: var(--color-secondary--light);
    z-index: 1;
  }
  &:last-child {
    background-color: var(--color-primary);
    z-index: 2;   
  }
}
