.buttons {
	display: inline-flex;
	align-items: center;
	gap: 10px;
}

.pages-count {
	font-size: 14px;
	color: var(--color-text-inverse);
	font-variant-numeric: tabular-nums;
}

.button {
	--icon-size: 24px;

	width: var(--icon-size);
	height: var(--icon-size);

	color: var(--color-text-inverse);

	&:disabled {
		cursor: not-allowed;
	}

	&:disabled {
		@include hover-supported {
			background-color: initial;
			color: inherit;
		}
	}

	&:disabled {
		@include hover-supported {
			.icon {
				color: var(--color-text-inverse--dark);
			}
		}
	}
}

.icon {
	width: var(--icon-size);
	height: var(--icon-size);
	color: var(--color-text-inverse);

	&_disabled {
		color: var(--color-text-inverse--dark);
	}
}

@include max($tablet-l) {
	.pages-count {
		color: var(--color-text);
	}

	.button {
		color: var(--color-text);

		&:disabled {
			@include hover-supported {
				.icon {
					color: var(--color-text--lighten);
				}
			}
		}
	}

	.icon {
		color: var(--color-text);

		&_disabled {
			color: var(--color-text--lighten);
		}
	}
}
