.buttons {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.pages-count {
  font-size: 14px;
  color: var(--color-text-inverse);
  font-variant-numeric: tabular-nums;
}

.button {
  --icon-size: 24px;

  width: var(--icon-size);
  height: var(--icon-size);

  color: var(--color-text-inverse);

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled:hover  {
    background-color: initial;
    color: inherit;
  }
  &:disabled:hover .icon {
    color: var(--color-text-inverse--dark);
  }
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--color-text-inverse);

  &_disabled {
    color: var(--color-text-inverse--dark);
  }
}