.select {
	width: 100%;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	background-color: var(--color-neutral--dark);
	transition: border-radius 0.2s var(--transition-primary);

	&__content {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
	}

	&__input {
		display: none;
	}

	&_active {
		border-radius: 5px 5px 0 0;
	}
}

.label {
	font-size: inherit;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--color-text);

	&__default {
		color: var(--color-text--lighten);
	}
}

.arrow {
	width: 14px;
	height: 14px;
	display: flex;
	stroke: var(--color-text--lighten);
	transition: transform 0.2s var(--transition-primary);

	&_active {
		transform: rotate(180deg);
	}
}
