.select {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-neutral--dark);
  transition: border-radius .2s var(--transition-primary);

  &__content {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  &__input {
    display: none;
  }

  &_active {
    border-radius: 5px 5px 0 0;
  }
}

.label {
  font-size: inherit;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-text);

  &__default {
    color: var(--color-text--lighten);
  }
}

.arrow {
  width: 14px;
  height: 14px;
  display: flex;
  stroke: var(--color-text--lighten);
  transition: transform .2s var(--transition-primary);

  &_active {
    transform: rotate(180deg);
  }
}

.dropdown {
  width: 100%;
  max-height: 250px;
  display: grid;
  grid-template-rows: 0fr;
  
  background-color: var(--color-neutral--dark);
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  box-shadow: none;
  transition: grid-template-rows .2s var(--transition-primary);
  overflow: hidden;

  &__container {
    min-height: 0;
  }

  &__content-wrapper {
    padding: 5px;
    width: 100%;
    height: 100%;
  }
  &__content {
    width: 100%;
    height: 100%;
    overflow: auto;
    
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-secondary);
      border-radius: 4px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &_open {
    grid-template-rows: 1fr;
  }
}

.option {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  color: var(--color-text--lighten);
  transition: background-color .2s var(--transition-primary);

  &:hover, &_focused {
    color: var(--color-text) !important;
    background-color: var(--color-neutral--darken);
  }

  &_active {
    color: var(--color-secondary);
  }
}
