.header {
  padding-bottom: 20px;
}
.title {
  text-align: center;
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  font-weight: 700;
  margin-bottom: 15px;
}
.addressAndContact {
  text-align: center;
}