.layout {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 20px;

	background-color: white;
}

.page {
	background-color: rgb(245, 245, 248);
	height: 100%;
	width: 100%;
	max-width: 420px;
	padding: 30px;
	border-radius: 20px;
}
