.list {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.menu-item {
	width: 100%;
	text-align: start;
	padding: 8px 12px;
	border-radius: 8px;
	color: var(--color-text--lighten);

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background-color: var(--color-neutral--dark);
		}
	}

	&_active {
		background-color: var(--color-primary) !important;
		color: var(--color-text-inverse) !important;
	}
}