.button {
  cursor: pointer;
  display: flex;
  &__active {
    svg {
      path {
        fill: var(--color-primary) !important;
      }
    }
  }
  svg {
    width: 24px;
    aspect-ratio: 1;
    path {
      fill: var(--color-secondary--little-light);
      transition: fill .5s var(--transition-power--in-out);
    }
  }
  &:hover {
    svg {
      path {
        fill: var(--color-primary);
      }
    }
  }
}