.checkbox {
	display: flex;
	gap: 10px;
}

.box {
	flex: 0 0 auto;
	width: 22px;
	height: 22px;
	border: 1px solid rgb(160, 160, 160);
	background-color: white;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__check {
		width: 18px;
		object-fit: 1;
	}
}

.label-wrapper {
	color: rgb(90, 90, 90);
	font-size: 14px;
	line-height: 130%;

	&:hover {
		color: black;
	}
}