.checkbox {
	display: flex;
	gap: 10px;
}

.box {
	flex: 0 0 auto;
	width: 22px;
	height: 22px;
	border: 1px solid var(--color-neutral--ultra-darken);
	background-color: var(--color-neutral);
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__check {
		color: var(--color-text);
		width: 18px;
		object-fit: 1;
	}
}

.label-wrapper {
	color: var(--color-text--lighten);
	font-size: 14px;
	line-height: 130%;

	@include hover-supported {
    color: var(--color-text);
  }
}