.button {
  white-space: nowrap;
  text-wrap: nowrap;
  text-align: left;
  font-size: 18px;
  color: var(--color-text--light);
  transition: color 0.2s var(--transition-primary);

  &_active {
    color: var(--color-text) !important;
  }

  @include hover-supported {
    color: var(--color-primary);
  }
}