.input {
  width: 100%;
  background-color: var(--color-neutral--dark);
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  &__container {
    padding: 10px;
  }
  &__item {
    width: 100%;
    font-size: inherit;
    height: auto;
    color: var(--color-text);
    background-color: transparent;
    caret-color: var(--color-secondary);
    &::placeholder {
      color: var(--color-text--lighten);
    }

    &:-webkit-autofill {
      background-color: transparent !important;
      box-shadow: 0 0 0px 1000px var(--color-neutral--darken) inset !important;
    }
  }
}

.input-line {
  position: absolute !important;
  bottom: 0;
}