.input {
  width: 100%;
  background-color: var(--color-neutral-secondary);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  &__container {
    padding: 10px;
  }
  &__item {
    width: 100%;
    font-size: inherit;
    height: auto;
    background-color: transparent;
    caret-color: var(--color-primary);
    &::placeholder {
      color: var(--color-secondary--light);
    }

    &:-webkit-autofill {
      background-color: transparent !important;
      box-shadow: 0 0 0px 1000px var(--color-secondary--lighten) inset !important;
    }
  }
  &__line {
    margin-top: 3px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5px;
  }
  &__sub-line {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: scale(0);
    height: 100%;
    &_first {
      background-color: var(--color-secondary--light);
      z-index: 1;
    }
    &_second {
      background-color: var(--color-primary);
      z-index: 2;
    }
  }
}