.template {
  @include resume-template-1;

  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  font-family: var(--font-text);
  font-size: var(--font-text-size);
  &__header {
    margin-bottom: 20px;
  }
  &__body {
    display: grid;
    grid-template-columns: 130px 1fr;
  }
  &__aside {
  }
  &__main-content {
    padding-left: 20px;
  }
  &__main-sections, &__aside-sections {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.personal-information {
  display: grid;
  grid-template-columns: auto 1fr;
  &__photo-wrapper {
    height: 130px;
    aspect-ratio: 1;
  }
  &__photo {
    width: 100%;
    height: 100%;
  }
  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  &__title-block {
  }
  &__name {
    font-family: var(--font-title);
    font-size: var(--font-title-size);
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__job-title {
    font-size: 14px;
    font-weight: 400;
  }
  &__other-block {
  }
  &__location {
    display: inline-block;
    margin-bottom: 2.5px;
  }
}

.main-section {
  &__title {
    font-family: var(--font-sub-title);
    font-size: var(--font-sub-title-size);
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__description {
    font-family: var(--font-text);
    font-size: var(--font-text-size);
    ul,
    ol {
      padding-left: 20px;
    }
    ul {
      list-style: circle;
    }
    ol {
      list-style: decimal;
    }
  }
  &__sub-sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.aside-section {
  &__title {
    font-family: var(--font-title);
    font-size: var(--font-text-size);
    font-weight: 700;
    margin-bottom: 6px;
  }
  &__description {
    font-family: var(--font-text);
    font-size: var(--font-text-size);
    ul,
    ol {
      padding-left: 20px;
    }
    ul {
      list-style: circle;
    }
    ol {
      list-style: decimal;
    }
  }
  &__sub-sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.sub-section {
  &__title {
    font-size: var(--font-text-size);
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__description {
    font-family: var(--font-text);
    font-size: var(--font-text-size);
    ul,
    ol {
      padding-left: 20px;
    }
    ul {
      list-style: circle;
    }
    ol {
      list-style: decimal;
    }
  }
}

.sub-section-skill {
  &__title {
    font-family: var(--font-text);
    font-size: var(--font-text-size);
    font-weight: 400;
    margin-bottom: 5px;
  }
  &__progress {
    display: flex;
    gap: 2.5px;
    width: 100%;
  }
  &__progress-block {
    flex: 1 1 auto;
    height: 2px;
    background-color: rgb(201, 201, 201);
    &_achieved {
      background-color: rgb(56, 56, 56);
    }
  }
}
