.button {
	display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 10px 12px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.state {
  margin-left: auto;
}

.icon {
  width: 16px;
  height: 16px;
  color: white;
}

.spinner {
  --color: white;
  --diameter: 16px;
}