.page {
	width: 100%;
	display: flex;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	gap: 20px;
}

.content {
	flex-grow: 1;
	padding: 20px 0;
}

.title {
	font-size: 24px;
	font-weight: 700;
	padding-left: 20px;
}

.sections-list {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.aside {
	position: sticky;
	top: 0;
	height: 100vh;
}

.menu {
	min-width: 180px;
	padding-top: 20px;
}