.page {
	width: 100%;
	display: flex;
}

.container {
	max-width: 900px;
	display: flex;
	gap: 20px;
	padding: 0 var(--container-padding);
}

.content {
	flex-grow: 1;
	padding: 20px 0;
}

.title {
	font-size: 24px;
	font-weight: 700;
	padding-left: var(--container-padding);
}

.sections-list {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.aside {
	position: sticky;
	top: 0;
	height: 100vh;
}

.menu {
	min-width: 180px;
	padding-top: 20px;
}

@include max($mobile-l) {
	.container {
		padding: 0 !important;
	}

	.content {
		padding: 0;
	}

	.sections-list {
		margin-top: 10px;
		gap: 20px;
	}
}
