.header {
	padding-bottom: 5px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: var(--color-neutral--dark);
	}
}

.title {
	font-size: 16px;
	font-weight: 400;
}

.controls-list {
	display: flex;
	gap: 20px;
	white-space: nowrap;
	text-wrap: nowrap;
}

.list {
	margin-top: 20px;
}