.text {
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 130%;
	cursor: pointer;
	color: var(--color-text--lighten);
}

.link {
	color: var(--color-text--lighten);
	text-decoration: underline;

	&:hover {
		color: var(--color-text);
	}
}