@use "sass:math";

@mixin max($size) {
  @if (math.unit($size) == "px") {
    @media (max-width: ($size - .5px)) {
      @content;
    }
  } @else {
    @media (max-width: $size) {
      @content;
    }
  }
}