@use "./../breakpoints" as *;
@use "sass:map";
@use "sass:meta";

@mixin respond-max($breakpoint) {
  $value: null;

  @if meta.type-of($breakpoint) == "string" or meta.type-of($breakpoint) == "identifier" {
    $value: map.get($breakpoints, $breakpoint) - 1;
  }

  @else if meta.type-of($breakpoint) == "number" {
    $value: $breakpoint;
  }

  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "❌ Некорректный breakpoint: `#{$breakpoint}`. Допустимы ключи из \$breakpoints или числовое значение с единицами.";
  }
}