.dropdown-menu {
  position: absolute;
  display: block;
  z-index: 5;
  min-width: 250px;
  padding: 10px 5px;
  border-radius: 6px;
  background-color: var(--color-neutral-main);
  border: 2px solid var(--color-secondary--lighten);
  transform: scale(0);

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__hidden {
    transform: scale(1);
    visibility: hidden;
    opacity: 0;
    left: "-9999px";
    pointer-events: none;
  }
}

.button {
  display: flex;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;
  color: var(--color-neutral-contrast);
  transition: color .3s var(--transition-power--in-out), background-color .3s var(--transition-power--in-out);
  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 18px;
    aspect-ratio: 1;
    path {
      fill: var(--color-neutral-contrast);
      transition: fill .3s var(--transition-power--in-out);
    }
  }
  &__title {
    font-size: 14px;
  }
  &:hover {
    background-color: var(--color-secondary--lighten);
    color: var(--color-primary);
    svg {
      path {
        fill: var(--color-primary);
      }
    }
  }
}
