.list {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

	&[data-variant="primary"] {
		padding: 6px;
		border-radius: 8px;
		background-color: var(--color-neutral--dark);
	}
}
