.head {
	margin-bottom: 20px;
}

.title {
	font-size: 22px;
	font-weight: 600;
	color: var(--color-text);
}

.description {
	margin-top: 5px;
	color: var(--color-text--lighten);
	font-size: 14px;
	line-height: 130%;
}

.checkbox {
	margin-top: 20px;
}

.is-account-exist {
	margin-top: 20px;
}

.submit-button {
	display: flex;
	width: 100%;
	margin-top: 20px;
}

.link {
	color: var(--color-text--lighten);
	text-decoration: underline;

	&:hover {
		color: var(--color-text);
	}
}