.menu {
  min-width: 150px;
  padding: 8px;
  background-color: var(--color-neutral-primary);
  border: 1px solid var(--color-neutral-primary--dark);
  border-radius: 8px;
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}