.section {
	border-radius: var(--section-border-radius);
	background-color: var(--color-neutral);
}

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: var(--container-padding);
	cursor: pointer;
}

.arrow {
	height: 18px;
	min-width: 18px;
	color: var(--color-text--lighten);
	transition: transform 0.2s var(--transition-primary);

	&__open {
		transform: rotate(180deg);
	}
}

.title-editor {
	font-size: 18px;
	max-width: calc(100% - 18px - var(--section-padding));
}
.title-editor-control {
	width: 18px;
	height: 18px;
}

.body {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;

	transition: grid-template-rows 0.2s var(--transition-primary);

	&__container {
		height: auto;
		min-height: 0;
	}
	&__content {
		padding: 0 var(--container-padding) var(--container-padding)
			var(--container-padding);
	}

	&__open {
		grid-template-rows: 1fr;
	}
}

.description {
	color: var(--color-text--lighten);
	font-size: 13px;
	margin-bottom: 15px;
	line-height: 130%;
}

.additional-content {
	margin-bottom: 15px;
}

.add-subsection-button {
	margin-top: 10px;
}

.subsection-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-group {
	gap: 20px 30px;
	grid-template-columns: 6fr 6fr;

	&_one-column {
		grid-template-columns: 1fr;
	}
}

.form-group-cell {
	&__personal-details-full-name {
		grid-area: 2 / 1 / 2 / 3;
	}

	&__personal-details-address {
		grid-area: 4 / 1 / 5 / 3;
	}
}

@include max($tablet-s) {
	.form-group {
		grid-template-columns: 1fr;
	}

	.form-group-cell {
		&__personal-details-full-name,
		&__personal-details-address {
			grid-area: auto;
		}
	}
}