.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.title {
  color: rgba(37, 159, 148, 1);
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
}

.backButton {
  &__icon {
    transform: rotate(180deg);
  }
}
