.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  // transition: top .4s var(--transition-power--in-out), transform .4s var(--transition-power--in-out), width .4s var(--transition-power--in-out);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 20px 0;
    border-radius: 20px;
    transition: padding .4s var(--transition-power--in-out), background-color .4s var(--transition-power--in-out);
    backdrop-filter: blur(2px);

    &__controls {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}

.header-logo {
  flex: 0 0 100px;
}