.menu-item {
  --font-size: 14px;

  width: 100%;

  font-size: var(--font-size);
  color: var(--color-neutral-contrast--light);
}

.head {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  border-radius: 4px;
  padding: 4px;
  transition: background-color .2s var(--transition-primary);

  &:hover {
    background-color: var(--color-neutral-primary--dark);
  }
}
.icon, .arrow {
  width: var(--font-size);
  height: var(--font-size);
}
.arrow {
  margin-left: auto;
  transition: transform .2s var(--transition-primary);

  &__open {
    transform: rotate(180deg);
  }
}

.dropdown {

}