.document {
	width: 100%;
	display: block;
	border: 1px solid var(--color-neutral--dark);
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--color-neutral);

	&[data-format="A4"] {
		aspect-ratio: 8.27 / 11.69;
	}

	&[data-format="USLetter"] {
		aspect-ratio: 8.5 / 11;
	}
}