.sidebar {
  position: sticky;
  top: 0;
  width: 58px;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-right: 1px solid transparent;
  transition: width .4s var(--transition-primary);

  &__container {
    width: 100%;
    height: 100%;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__profile {
    margin-top: auto;
  }

  &_open {
    width: 250px;
  }

  &:hover {
    border-right: 1px solid var(--color-neutral-primary--dark);
  }
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.logo-wrapper {
  margin-right: auto;
}
.logo {
  max-width: 100px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: auto;

  &__block-label {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-neutral-contrast--light);
    margin-bottom: 5px;
  }
}

.account-block {
  margin-bottom: 5px;
}