.sidebar-popover {
  width: 250px;
}

.sidebar {
  top: 0;
  height: 100vh;
  border-right: 1px solid transparent;
  background-color: var(--color-neutral);
  pointer-events: all;

  &__container {
    width: 100%;
    height: 100%;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__profile {
    margin-top: auto;
  }

  &[data-performance="static"] {
    position: sticky;
    width: 78px;
    padding: var(--container-padding);
    transition: width .4s var(--transition-primary);
  }

  &[data-performance="absolute"] {
    width: 100%;
    height: auto;
  }

  &_open {
    &[data-performance="static"] {
      width: 250px;
    }
  }
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.logo-wrapper {
  margin-right: auto;
}
.logo {
  max-width: 100px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: auto;

  &__block-label {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-text--lighten);
    margin-bottom: 5px;
  }
}

.account-block {
  margin-bottom: 5px;
}

@include max($mobile-l) {
	.sidebar {
		&[data-performance="static"] {
			padding: var(--container-padding--mobile);
		}
	}
}