.slider {
  position: relative;
  width: 100%;
  height: 100%;
  
  border-radius: 6px;
  background-color: var(--slider-selector-color-secondary);
  transition: background-color .2s var(--transition-primary);
  overflow: hidden;

  &__cells {
    height: 100%;
    display: flex;
  }
  &__dashes {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &_disabled {
    background-color: var(--color-neutral--dark);

    .tracker__block, .dash {
      cursor: initial;
      background-color: var(--color-neutral--darken);
    }
    .cell {
      cursor: initial;
      &:hover {
        background-color: initial;
      }
    }
  }
}

.cell {
  position: relative;
  flex: 1 1 auto;
  height: 100%;

  border-radius: 6px;
  transition: background-color .2s var(--transition-primary);
  cursor: pointer;
  
  &:hover {
    background-color: var(--slider-selector-color-third);
  }
}

.dash {
  position: absolute;
  top: 50%;
  width: .5px;
  height: 50%;

  transform: translate(-50%, -50%);
  border-radius: 6px;
  transition: background-color .2s var(--transition-primary);
  background-color: var(--slider-selector-color-primary);
}

.tracker {
  position: absolute;
  width: 20%;
  height: 100%;

  border-radius: inherit;
  
  touch-action: none;
  cursor: grab;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: transform .2s var(--transition-primary);

  &__real-size {
    width: 100%;
    height: 100%;
  }
  &__block {
    position: absolute;
    left: -.5px;
    right: -.5px;
    top: 0;
    height: 100%;
    border-radius: 6px;
    background-color: var(--slider-selector-color-primary);
    transition: background-color .2s var(--transition-primary);
  }

  &:active {
    cursor: grabbing;
  }
}
.transition-none {
  transition: none !important;
}