.menu {
  width: 250px;
  padding: 8px;
  background-color: var(--color-neutral-primary);
  border: 1px solid var(--color-neutral-primary--dark);
  border-radius: 8px;
}

.userName {
  font-size: 18px;
  display: block;
}
.email {
  font-size: 14px;
  color: var(--color-neutral-contrast--lighten);
  display: block;
  margin-top: 5px;
  margin-bottom: 8px;
}

.list {
  padding-top: 8px;
  border-top: 1px solid var(--color-neutral-primary--dark);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  border-radius: 4px;
  padding: 4px;
  font-size: 16px;
  transition: background-color .2s var(--transition-primary);

  &:hover {
    background-color: var(--color-neutral-primary--dark);
  }
}