.modal {
	position: fixed;
	z-index: 11;
	background-color: var(--color-neutral);
	border-radius: 10px;
	padding: 20px 20px;
	pointer-events: all;

	&[data-position='center'] {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

  &[data-position='top'] {
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-position='bottom'] {
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-position='left'] {
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
  }

  &[data-position='right'] {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;

  &__icon {
    width: 16px;
    height: 16px;
  }
}