.column {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  will-change: transform;
}

.image {
	width: 100%;
  height: auto;
  border-radius: 12px;
}