.button {
  @include hover-supported {
    .icon {
      color: var(--color-secondary);
    }
  }

  &__active {
    .icon {
      color: var(--color-secondary);
    }
  }
}

.icon {
  color: var(--color-neutral--ultra-darken);
  transition: color .2s var(--transition-primary);
}