.button {
  &:hover {
    .icon {
      color: var(--color-primary);
    }
  }

  &__active {
    .icon {
      color: var(--color-primary);
    }
  }
}

.icon {
  color: var(--color-neutral-contrast--lighten);
  transition: color .2s var(--transition-primary);
}