.button {
  &__icon-wrapper {
    color: var(--color-neutral-contrast--lighten);
    transition: color .2s var(--transition-primary);
  }

  &:hover {
    .button__icon-wrapper {
      color: var(--color-primary) !important;
    }
  }

  &__active {
    .button__icon-wrapper {
      color: var(--color-primary) !important;
    }
  }
}
