.no-documents {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  text-align: center;

  &__illustration {
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 18px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__description {
    max-width: 380px;
    font-size: 14px;
    line-height: 130%;
  }

  &__controls-wrapper {
    margin-top: 32px;
  }
}
