.content {
	background-color: var(--color-neutral--dark);
	padding: 20px;
	border-radius: 20px;
}

.label {
	padding: 0 20px;
	font-size: 14px;
	font-weight: 500;
	color: var(--color-text--lighten);
	text-transform: uppercase;
	margin-bottom: 5px;
}