.content {
	background-color: var(--color-neutral--dark);
	padding: var(--container-padding);
	border-radius: 20px;
}

.label {
	padding: 0 var(--container-padding);
	font-size: 14px;
	font-weight: 500;
	color: var(--color-text--lighten);
	text-transform: uppercase;
	margin-bottom: 5px;
}

@include max($mobile-l) {
	.content {
		padding: var(--container-padding--mobile);
		border-radius: 0;
	}

	.label {
		padding: var(--container-padding--mobile);
	}
}