.editor {
	display: flex;
	background-color: var(--color-primary--light);
	min-height: 100vh;

	&__form {
		flex: 1 1 auto;
		max-width: 50%;
	}

	&__preview {
		position: sticky;
		top: 0;
		height: 100vh;
		flex-grow: 1;
		overflow-y: auto;
	}
}

.header {
	display: none;
}

.burger-menu {
	position: fixed;
	top: 10px;
	left: calc(var(--section-padding) / 2);
	pointer-events: all;
}

.sidebar-popover {
	position: fixed;
}

.sidebar-popover-mobile {
	display: none;
}

@include max($tablet-l) {
	.editor {
		&__form {
			max-width: 100%;
		}

		&__preview {
			display: none;
		}
	}
}

@include max($mobile-l) {
	.editor {
		background-color: var(--color-neutral);
	}

	.header {
		display: block;
	}

	.sidebar-popover {
		display: none;
	}

	.burger-menu {
		display: none;
	}

	.sidebar-popover-mobile {
		display: block;
	}
}
