.editor {
  display: flex;
  background-color: var(--color-primary--light);

  &__form {
    flex: 1 1 auto;
    max-width: 50%;
  }

  &__preview {
    position: sticky;
    top: 0;
    height: 100vh;
    flex: 1 1 auto;
  }
}

.burger-menu {
  position: fixed;
  top: 10px;
  left: calc(var(--section-padding) / 2);
  pointer-events: all;
}

.sidebar-popover {
  position: fixed;
}