.editor {
	background-color: var(--color-primary--light);
	min-height: 100vh;
}

.tabs {
	display: none;
	width: 100%;
}

.container {
	display: flex;
}

.form {
	flex: 1 1 auto;
	max-width: 50%;
}

.preview {
	position: sticky;
	top: 0;
	height: 100vh;
	flex-grow: 1;
	overflow-y: auto;
}

@include max($tablet-l) {
	.editor {
		background-color: var(--color-neutral--dark);
	}

	.tabs {
		display: block;
	}

	.form {
		display: none;
	}

	.preview {
		display: none;
	}
}
