.viewer {
	width: 100%;
}

.canvas {
	width: 100%;

	&_hidden {
		display: none;
	}
}


.skeleton {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3%;
	aspect-ratio: 8.27 / 11.69;
	background-color: var(--color-neutral);

	&__title-container {
		width: 100%;
		max-width: 50%;
		height: 4%;
	}

	&__subtitle-container {
		width: 100%;
		max-width: 30%;
		height: 2%;
		margin-top: 1%;
	}

	&__title, &__subtitle {	
		width: 100%;
		height: 100%;
	}

	&__text-container {
		width: 100%;
		height: 2.5%;
		margin-top: 2.5%;

		&_p1 {
			margin-top: 5%;
		}

		&_p2 {
			margin-top: 5%;
		}
	}

	&__text {
		width: 100%;
		height: 100%;
	}
}