.card {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.preview-wrapper {
	cursor: pointer;
}
.preview {
	display: block;
	border: 1px solid var(--color-neutral--dark);
}

.info {
	margin-left: 20px;
	display: flex;
	flex-direction: column;

	&__footer {
		border-top: 1px solid var(--color-neutral--dark);
		padding-top: 15px;
	}
}
.header {
	padding-bottom: 15px;
}
.header-mobile {
	display: none;
}

.title {
	font-size: 18px;
}
.updated-at {
	font-size: 12px;
	color: var(--color-text--lighten);
}

.action-buttons-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.mobile-actions-menu {
	display: none;
}

@include max($mobile-l) {
	.card {
		grid-template-columns: 1fr;

		&_skeleton {
			&:nth-child(2), &:nth-child(3), &:nth-child(4) {
				display: none;
			}
		}
	}

	.info {
		display: none;
	}

	.header-mobile {
		width: 100%;
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: 5px;
		margin-bottom: 10px;
	}

	.title-wrapper {
		width: 100%;
	}
	
	.button-actions-menu {
		display: flex;

		&__icon {
			width: 14px;
		}
	}

	.button-actions-menu-skeleton {
		display: flex;
		width: 16px;
		aspect-ratio: 1;
	}

	.mobile-actions-menu {
		display: block;
	}
}
