@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Helvetica";
  src: 
    url("~@fonts/Helvetica/Helvetica.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  src: 
    url("~@fonts/Helvetica/Helvetica-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: bold;
}

:root {
  --color-primary: rgb(26, 145, 240);
  --color-primary--light: rgb(234, 246, 255);
  --color-primary--dark: rgb(14, 105, 181);

  --color-secondary: rgb(48, 56, 72);
  --color-secondary--little-light: rgb(101, 110, 131);
  --color-secondary--light: rgb(130, 139, 162);
  --color-secondary--lighten: rgb(239, 242, 249);
  --color-secondary--dark: rgb(15, 20, 30);

  --color-neutral-main: #ffffff;
  --color-neutral-main--light: #f0f0f0;
  --color-neutral-main--lighten: #f0f0f0;
  --color-neutral-main--dark: #eee7e7;
  --color-neutral-main--darken: #c2beba;

  --color-neutral-contrast: #22394B;
  --color-neutral-contrast--light: rgb(130, 139, 162);
  --color-neutral-contrast--lighten: rgb(247, 249, 252);
  --color-neutral-contrast--dark: #d9d9d9;
  --color-neutral-contrast--darken: #c2beba;

  --font-primary: TT Commons, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;

  --transition-power--in-out: linear( 0, 0.0036 9.62%, 0.0185 16.66%, 0.0489 23.03%, 0.0962 28.86%, 0.1705 34.93%, 0.269 40.66%, 0.3867 45.89%, 0.5833 52.95%, 0.683 57.05%, 0.7829 62.14%, 0.8621 67.46%, 0.8991 70.68%, 0.9299 74.03%, 0.9545 77.52%, 0.9735 81.21%, 0.9865 85%, 0.9949 89.15%, 1 );
  --transition-elastic--in-out: linear( 0, 0.0009 8.51%, -0.0047 19.22%, 0.0016 22.39%, 0.023 27.81%, 0.0237 30.08%, 0.0144 31.81%, -0.0051 33.48%, -0.1116 39.25%, -0.1181 40.59%, -0.1058 41.79%, -0.0455, 0.0701 45.34%, 0.9702 55.19%, 1.0696 56.97%, 1.0987 57.88%, 1.1146 58.82%, 1.1181 59.83%, 1.1092 60.95%, 1.0057 66.48%, 0.986 68.14%, 0.9765 69.84%, 0.9769 72.16%, 0.9984 77.61%, 1.0047 80.79%, 0.9991 91.48%, 1 );
}
