html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-neutral-contrast);
  background-color: var(--color-neutral-main);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &_lock {
    overflow: hidden;
  }
}
