html, body {
  max-width: 100vw;
}

body {
  color: var(--color-neutral-contrast);
  background-color: var(--color-neutral-main);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &_lock {
    overflow: hidden;
  }
}

#portal-root {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  // overflow: hidden;
}