html,
body {
	max-width: 100vw;
}

body {
	color: var(--color-text);
	background-color: var(--color-neutral);
	font-family: var(--font-primary);
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&_lock {
		overflow: hidden;
	}
}

#portal-root {
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.Toastify__toast-theme--light,
.Toastify__toast-theme--colored.Toastify__toast--default {
	background: var(--color-neutral) !important;
	color: var(--color-text) !important;
}

.Toastify__close-button--light {
	color: var(--color-text) !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container--top-center {
    width: 300px !important;
    top: 10px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    align-items: center !important;
  }

  .Toastify__toast {
    border-radius: 6px !important;
    padding: 14px !important;
  }
}

