$breakpoints: (
  mobile-s: 375px,
  mobile-m: 425px,
  mobile-l: 480px,

  tablet-s: 600px,
  tablet-m: 768px,
  tablet-l: 900px,

  laptop-s: 1024px,
  laptop-m: 1280px,
  laptop-l: 1440px,

  desktop-s: 1600px,
  desktop-m: 1920px,
  desktop-l: 2560px, 
);