* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  padding-left: 0;
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
input, textarea, fieldset {
  border: none;
  outline: none;
  &:focus {
    box-shadow: none !important;
  }
}

input, select, textarea, button, option, a, area {
  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 1px var(--color-neutral-contrast);
  }
}