* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  padding-left: 0;
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
input, textarea, fieldset {
  border: none;
  outline: none;
}
