:root {
	// Color
	--color-primary: black;
	--color-primary--light: rgb(38, 39, 42);

	--color-secondary: rgb(26, 145, 240);
	--color-secondary--dark: rgb(14, 105, 181);
	--color-secondary--light: rgb(79, 166, 238);

	--color-tertiary: rgb(48, 56, 72);
	--color-tertiary--light: rgb(64, 73, 91);

	--color-neutral: white;
	--color-neutral--soft-dark: rgb(248, 248, 248);
	--color-neutral--dark: rgb(241, 241, 241);
	--color-neutral--darken: rgb(212, 212, 212);
  --color-neutral--ultra-darken: rgb(161, 161, 161);

	--color-text: black;
	--color-text--light: rgb(72, 72, 72);
	--color-text--lighten: rgb(110, 110, 110);

	--color-text-inverse: white;
	--color-text-inverse--dark: rgb(207, 207, 207);
	--color-text-inverse--darken: rgb(125, 125, 125);

	// Transition
	--transition-primary: ease-out;

	// Other
	--document-width: 794px;
	--document-height: 1123px;
	--document-aspect-ratio: 1 / 1.4142;

	--section-border-radius: 10px;
	--section-padding: 20px;
	--section-gap: 4px;

	--subsection-border-radius: 8px;
	--subsection-padding: 15px;
}
