:root {
  --color-primary: rgb(26, 145, 240);
  --color-primary--dark: rgb(14, 105, 181);

  --color-secondary: rgb(48, 56, 72);
  --color-secondary--light: rgb(64, 73, 91);

  --color-neutral-primary: #ffffff;
  --color-neutral-primary--light: #f0f0f0;
  --color-neutral-primary--dark: rgb(219, 225, 230);
  --color-neutral-primary--darken: #c2beba;

  --color-neutral-secondary: rgb(220, 223, 232);
  --color-neutral-secondary--dark: rgb(202, 204, 212);

  --color-neutral-contrast: rgb(15, 20, 30);
  --color-neutral-contrast--light: #22394B;
  --color-neutral-contrast--lighten: rgb(130, 139, 162);

  --transition-primary: ease-out;

  --section-border-radius: 10px;
  --section-padding: 20px;
  --section-gap: 4px;
}
