:root {
  --color-primary: rgb(26, 145, 240);
  --color-primary--dark: rgb(14, 105, 181);

  --color-secondary: rgb(48, 56, 72);
  --color-secondary--light: rgb(64, 73, 91);

  --color-neutral-primary: #ffffff;
  --color-neutral-primary--light: #f0f0f0;
  --color-neutral-primary--dark: #eee7e7;
  --color-neutral-primary--darken: #c2beba;

  --color-neutral-secondary: rgb(130, 139, 162);

  --color-neutral-contrast: rgb(15, 20, 30);
  --color-neutral-contrast--light: #22394B;
  --color-neutral-contrast--lighten: rgb(130, 139, 162);
}
