.button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color .2s var(--transition-primary), color .2s var(--transition-primary);

  cursor: pointer;

  &[data-variant="primary"] {
    --bg-color: var(--color-primary);
    --text-color: white;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        --bg-color: var(--color-primary--light);
      }
    }
  }

  &[data-variant="secondary"] {
    --bg-color: var(--color-secondary);
    --text-color: white;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        --bg-color: var(--color-secondary--light);
      }
    }
  }

  &[data-variant="neutral"] {
    --bg-color: var(--color-neutral--darken);
    --text-color: black;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        --bg-color: var(--color-neutral--more-darken);
      }
    }
  }

  &[data-variant="danger"] {
    --bg-color: rgb(255, 49, 49);
    --text-color: white;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        --bg-color: red;
      }
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--text-color);
}

.arrow {
  width: 16px;
  height: 16px;
  color: var(--text-color);
  transition: transform .2s var(--transition-primary);

  &_active {
    transform: rotate(180deg);
  }
}

.state {
  margin-left: auto;
}

.spinner {
  --color: var(--text-color) !important;
  --diameter: 16px;
}

