.button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  
  color: var(--text-color);
  background-color: var(--bg-color);

  cursor: pointer;

  &[data-variant="primary"] {
    --bg-color: var(--color-primary);
    --text-color: white;
  }

  &[data-variant="secondary"] {
    --bg-color: var(--color-secondary);
    --text-color: white;
  }

  &[data-variant="neutral"] {
    --bg-color: var(--color-neutral);
    --text-color: black;
  }
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--text-color);
}

.arrow {
  width: 16px;
  height: 16px;
  color: var(--text-color);
  transition: transform .2s var(--transition-primary);

  &_active {
    transform: rotate(180deg);
  }
}

.state {
  margin-left: auto;
}

.spinner {
  --color: var(--text-color) !important;
  --diameter: 16px;
}

